


  form {
    display: inline-block; 
    width:100%; 
}

#id{
    display: inline-block; 
}

.alert {
    padding: 20px;
    background-color:green;
    color: white;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}
table{
    width:100%;
}
select{
    width: auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical
}
input[type=reset]{
margin-left: 226px;
}
label {
    padding: 12px 12px 12px 20px;
    display: inline-block;
}



.col-5 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-5 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75 {
        width: 100%;
        margin-top: 0;
    }
}

#lp{
    display: inline-block;
}
