

input[type=submit] {
    background-color: Crimson;  
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
  }
  form {
    display: inline-block; 
    width:100%; 
}
input[type=radio]{
    display: inline-block;
}
input[type=reset]{
    background-color: blue;  
    border-radius: 5px;
    color: white;
    padding: .5em;
    text-decoration: none;
}
#id{
    display: inline-block; 
}
#message{
    color: green;
}
* {
    box-sizing: border-box;
}

input[type=text] ,input[type=Date]{
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}
select{
    width: auto;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical
}
input[type=reset]{
margin-left: 226px;
}
label {
    padding: 12px 12px 12px 20px;
    display: inline-block;
}



.col-5 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-7 {
    float: left;
    width: 75%;
    margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

@media screen and (max-width: 600px) {
    .col-25, .col-75 {
        width: 100%;
        margin-top: 0;
    }
}

#lp{
    display: inline-block;
}
.logo{
    display: inline-block;
    width:40px; 
  height:40px; 
  border: 0;
  vertical-align:top;
  background-size: 10px auto;
    background:url('src/assets/date.png') 
}
